# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod
!go.mod
!*/go.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories
build/
*/build/

# Python cache
__pycache__/
*/__pycache__/

# Virtual environments
.venv/

# Generated protobuf files
client_pyside/proto/imagestorage_pb2.py
client_pyside/proto/imagestorage_pb2_grpc.py
server/proto/imagestorage.pb.go
server/proto/imagestorage_grpc.pb.go

# IDE/Project temporary files
*.user
